.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;

  /* font-size: calc(10px + 2vmin); */
}


.container {
  background-size: 100%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding-top: 50px;


  .word-container {
    display: flex;
  }

  /* position: absolute;
  top: 50%;
  left: 50%; */
}


.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
